@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #101932;
}

.background__image {
    max-width: 100%;
    height: 700px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1360px;
    margin: 0px auto;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.header__links a {
    font-weight: 600;
    font-size: 13px;
    color: white;
    opacity: 0.8;
}

.header__button {
    width: 170px;
    height: 40px;
    font-weight: 600;
    font-size: 13px;
    color: white;
    border: 0px;
    border-radius: 10px;
    background-color: #AC1216;
}

.burger__menu {
    display: none;
}

.rotate__top {
    transform: rotate(-47deg);
}

.delete__center {
    display: none;
}

.rotate__bottom {
    transform: rotate(47deg);
    margin-top: -8px;
}

.content {
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__inner {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.content__inner__title {
    color: white;
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
}

.content__inner__title span {
    color: #AC1216;
}

.content__inner__subtitle {
    color: #71768E;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
}

.content__inner__text {
    color: #A0A3B5;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
}

.content__inner__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 40px;
}

.content__inner__wrap__join {
    width: 200px;
    height: 60px;
    border: 0px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    background-color: #E11D2E;
}

.content__inner__wrap__about {
    width: 300px;
    height: 60px;
    border: 0px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

.content__inner__wrap__input {
    width: 525px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    border: 1px solid;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.09);
}

.content__inner__wrap__input span {
    font-weight: 500;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.2);
}

.content__inner__wrap__input input {
    font-weight: 400;
    font-size: 16px;
    border: 0px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.4);
    outline: none;
}

.content__img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__inner__wrap__hidden {
    display: none;
}

marquee {
    width: 100%;
    background: #5A4039;
    color: #FFF500;
}

.marquee__text {
    display: flex;
    gap: 15px;
}

.screen_2 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen_2__logos {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    opacity: 10%;
}

.screen_2__logos img {
    width: 120px;
    height: 40px;
}

.screen_2_globus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.globe {
    width: 350px;
    height: 320px;
    background-image: url(../img/globe.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.screen_2_globus button {
    width: 220px;
    height: 60px;
    color: white;
    background-color: #E11D2E;
    border: 0px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 50px;
}

.normal__p {
    width: 450px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
}

.screen_2_p {
    width: 450px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    display: none;
}

.screen_3 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.screen_3 h1 {
    color: white;
    font-weight: 700;
    font-size: 40px;
}

.wrap-boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.box {
    width: 420px;
    background: #384D70;
    border-radius: 20px;
    padding: 40px;
}

.small__box__left {
    width: 120px;
    height: 120px;
    background-color: rgba(234, 11, 30, 0.10);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiny__box__left {
    width: 70px;
    height: 70px;
    background-color: #E11D2E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small__box__center {
    width: 120px;
    height: 120px;
    background-color: rgba(255, 148, 41, 0.10);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiny__box__center {
    width: 70px;
    height: 70px;
    background-color: #FF9429;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small__box__right {
    width: 120px;
    height: 120px;
    background-color: rgba(0, 150, 242, 0.10);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiny__box__right {
    width: 70px;
    height: 70px;
    background-color: #0096F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box h2 {
    color: white;
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
}

.box span {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.3;
}

.box p {
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
}

.content__4 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__4 h1 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin: 0px 0px 10px 0px;
}

.content__4 h2 {
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
    font-size: 18px;
}

.rectangle__top {
    width: 100%;
    height: 350px;
    display: flex;
    background-color: #071022;
    border-radius: 30px;
    padding: 40px;
    margin-top: 25px;
    gap: 50px;
}

.left__box {
    width: 500px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/mask.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.left__box img {
    width: 200px;
}

.right__box {
    width: 712px;
    height: 270px;
}

.right__box h3 {
    color: white;
    font-weight: 700;
    font-size: 28px;
}

.right__box p {
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
}

.rectangle__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}

.rectangle__left {
    width: 670px;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #FF9429;
    border-radius: 30px;
    padding: 15px;
    gap: 15px;
}

.rectangle__right {
    width: 670px;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #067CCB;
    border-radius: 30px;
    padding: 15px;
    gap: 15px;
}

.coin {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin img {
    width: 110px;
}

.megaphone {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.megaphone img {
    width: 110px;
}

.text {
    width: 80%;
}

.text h3 {
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.text p {
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
}

.background__image__2 {
    max-width: 100%;
    height: 700px;
    background-color: #30298C;
}

.content__5 {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.left__side {
    width: 50%;
    height: auto;
}

.left__side h2 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.left__side p {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    opacity: 60%;
    margin-top: 10px;
}

.left__side button {
    width: 300px;
    height: 60px;
    background-color: #E11D2E;
    border: 0px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
}

.right__side {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.top__box {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom__box {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrap__img__top {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 20px;
}

.wrap__img__top img {
    margin-top: 22px;
}

.wrap__text h2 {
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.wrap__text p {
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.80);
    margin-top: 5px;
}

.wrap__img__bottom {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 20px;
}

.wrap__img__bottom img {
    margin: 13px 0px 0px -30px;
}

.content__6 {
    width: 100%;
    height: 1610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__6 h2 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.wrap__big__boxes {
    width: 100%;
    height: 1400px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.big__box__left {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big__box__center {
    width: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #FF0000;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.line {
    width: 2px;
    height: 270px;
    background-color: #FF0000;
}

.line__2 {
    width: 2px;
    height: auto;
    background-color: #384D70;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position__1 {
    margin-top: 280px;
}

.position__2 {
    margin-top: 295px;
}

.position__3 {
    margin-top: 280px;
}

.dot__color {
    background-color: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.big__box__right {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 260px 0px 320px 0px;
}

.box__number__hidden {
    display: none;
    background-color: rgba(56, 77, 112, 0.2);
}

.box__number {
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgba(56, 77, 112, 0.2);
    border-radius: 30px;
    padding: 30px;
    gap: 30px;
}

.box__img {
    width: 146px;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(56, 77, 112, 0.20);
    border-radius: 30px;
}

.box__text {
    width: 100%;
    height: auto;
}

.box__text h3 {
    color: rgba(255, 255, 255, 0.80);
    font-weight: 500;
    font-size: 22px;
}

.box__text p {
    color: rgba(255, 255, 255, 0.80);
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
}

.number__background__color {
    background-color: rgba(56, 77, 112, 0.2);
}

.img__background__color {
    background-color: rgba(255, 255, 255, 0.10);
}

.background__image__3 {
    max-width: 100%;
    height: 550px;
    background-color: #162344;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__7 {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__7 h1 {
    color: white;
    font-weight: 700;
    font-size: 40px;
}

.wrap__people {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 25px;
}

.box__people {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box__people img {
    width: 100%;
    height: 80%;
}

.box__people h2 {
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
}

.box__people p {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 600;
    font-size: 18px;
}

.wrap__navigation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

.box__navigation {
    width: 8px;
    height: 8px;
    background: #A2A7B4;
}

.box__navigation:nth-child(1) {
    background-color: #FF0000;
}

.box__navigation__hidden {
    display: none;
}

.content__7 h3 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-top: 25px;
}

.wrap__partners {
    width: 100%;
    height: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.wrap__partners img {
    width: 190px;
    height: 60px;
}

.content__8 {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.content__8 h1 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.wrap__long__boxes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.long__box {
    width: 70%;
    height: 70px;
    background-color: #384D70;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 0px 35px;
}

.long__box p {
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.long__box button {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: rgba(225, 29, 46, 0.80);
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.background__image__4 {
    max-width: 100%;
    height: 720px;
    background-color: #162344;
}

.content__9 {
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.content__9 h1 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.wrap__social__box {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.social__box {
    width: 100px;
    height: 100px;
    background-color: #E11D2E;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__contact {
    display: none;
}

.box__contact span {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    font-size: 14px;
}

.box__contact input {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 12px;
    background-color: transparent;
    border: 0px;
    outline: none;
}

.content__10 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__10 h3 {
    color: rgba(255, 255, 255, 0.40);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}